<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (appInstallService.showInstallButton()) {
  <div class="install-button-container">
    <ion-button
      expand="full"
      color="medium"
      (click)="appInstallService.showInstallModal()"
      class="install-button"
    >
      <span class="install-button-text">Install this app on your device</span>
    </ion-button>
    <ion-button color="medium" (click)="appInstallService.dontShowAgain()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  } @for (blog of blogData(); track $index) {
  <ion-card>
    @if (blog.image_link) {
    <img [src]="blog.image_link" />
    }
    <ion-card-header>
      <ion-card-title>{{ blog.title }}</ion-card-title>
      @if (blog.subtitle) {
      <ion-card-subtitle>{{ blog.subtitle }}</ion-card-subtitle>
      }
    </ion-card-header>
    <ion-card-content>{{ blog.content }}</ion-card-content>

    @if (blog.action_link?.toLowerCase()?.startsWith('http')) {
    <ion-button fill="clear" [href]="blog.action_link" target="_blank"
      >{{ blog.action_text }}</ion-button
    >
    } @else if (blog.action_link) {
    <ion-button fill="clear" [routerLink]="blog.action_link"
      >{{ blog.action_text }}</ion-button
    >
    }
  </ion-card>
  }
  <ion-card class="main-info-card">
    <img src="images/globe.jpeg" alt="Crossfit Games Logo" />
    <div>
      <ion-card-header>
        <ion-card-title> Welcome! </ion-card-title>
        <ion-card-subtitle>CF Games Community Cup</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ welcomeMessage }}</p>
        @if (athleteCountsData()) {
        <ul>
          @for (item of athleteCountsData(); track $index) {
          <li>{{ item.year + ': ' + item.athlete_count + ' athletes'}}</li>
          }
        </ul>
        }
        <p>#StrongerTogether</p>
      </ion-card-content>
      <ion-button fill="clear" routerLink="/team-scores/team-info"
        >Check out this year's Teams!</ion-button
      >
      <ion-button fill="clear" (click)="onClickLearnMore()"
        >Learn more about this app</ion-button
      >
      @if (!authService.user()) {
      <ion-button
        fill="clear"
        href="https://games.crossfit.com/register/open"
        target="_blank"
        >Register on Crossfit.com</ion-button
      >
      <ion-button fill="clear" routerLink="/auth/signup"
        >Then sign up here</ion-button
      >
      } @if (cfGamesDataTimestamp()) {
      <div class="data-refresh-info">
        <ion-text color="medium">
          <small
            >Data last refreshed: {{ cfGamesDataTimestamp() | date: 'MMM d, y,
            h:mm a' }}</small
          >
        </ion-text>
      </div>
      }
    </div>
  </ion-card>
</ion-content>
