@if (userAuth.loggedIn()) {
<div class="flex-none dropdown dropdown-end">
  <div
    class="rounded-2xl bg-base-100 md:shadow-md px-4 py-2"
    tabindex="0"
    role="button"
  >
    <span class="text-md hidden md:inline">{{ userAuth.user()!.name }}</span>
    <span class="text-md md:hidden">{{ userAuth.userNameInitials() }}</span>
  </div>
  <ul
    class="dropdown-content flex flex-col gap-2 bg-base-200 rounded-box z-1 p-4 m-2 shadow-sm"
    tabindex="0"
  >
    <li class="md:hidden">{{ userAuth.user()!.name }}</li>
    <li>{{ userAuth.user()!.email }}</li>
    <li>{{ "Gender: " + userAuth.athlete()?.gender }}</li>
    <li>{{ "Category: " + userAuth.athlete()?.age_category }}</li>
    <li>{{ userAuth.user()!.affiliate }}</li>
    <li>{{ "CF ID: " + userAuth.user()!.athlete_id }}</li>
    <li>{{ userAuth.athlete()?.team_name }}</li>
    @if (!userAuth.user()?.is_verified) {
    <li class="text-error">Email not verified!!</li>
    <li>
      <button
        class="btn btn-primary w-full"
        type="button"
        routerLink="/auth/not-verified"
      >
        Uh oh
      </button>
    </li>
    } @if (userAuth.user()?.is_superuser) {
    <li>Admin bitch!!</li>
    }
    <li>
      <button
        class="btn btn-primary w-full"
        type="button"
        (click)="onClickSignOut()"
      >
        Log Out
      </button>
    </li>
  </ul>
</div>
} @else {
<div class="flex flex-row gap-1 md:gap-2 md:mr-2">
  <button class="btn btn-outline btn-primary" routerLink="/auth/signup">
    Sign Up
  </button>
  <button class="btn btn-primary" routerLink="/auth/login">Login</button>
</div>
}
