<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="individual-scores"></ion-back-button>
    </ion-buttons>
    <ion-title>Team Composition</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-segment
      [value]="scoreFilter.filter().gender"
      (ionChange)="onSelectionChanged($event, 'gender')"
    >
      <ion-segment-button value="M">
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value="F">
        <ion-label>F</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [value]="scoreFilter.filter().ageCategory"
      (ionChange)="onSelectionChanged($event, 'ageCategory')"
    >
      <ion-segment-button value="Open">
        <ion-label>Open</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Masters">
        <ion-label>Masters</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Masters 55+">
        <ion-label>Masters 55+</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [scrollable]="true"
      [value]="scoreFilter.filter().team"
      (ionChange)="onSelectionChanged($event, 'team')"
    >
      @for (team of teamsList(); track $index) {
      <ion-segment-button [value]="team">
        <ion-label [attr.color]="team === myTeamName ? 'primary' : null"
          >{{ team | teamName }}</ion-label
        >
      </ion-segment-button>
      }
    </ion-segment></ion-toolbar
  >

  <div class="section-title">Athletes</div>
  <ion-list [inset]="true">
    @for (athlete of filteredAthletes(); track $index) {
    <ion-item>
      <ion-label>{{ athlete.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
