<ion-content class="ion-padding ion-margin ion-justify-content-center">
  <div class="ion-padding-top ion-margin-top ion-margin-bottom">
    <h1>CFGames Community Cup</h1>
    <h4>Password Reset form</h4>
  </div>

  <form [formGroup]="emailForm" (ngSubmit)="onClickSubmit()">
    <ion-list class="ion-margin-vertical">
      <ion-item>
        <ion-input
          type="email"
          name="email"
          label="Email"
          labelPlacement="stacked"
          placeholder="froning@crossfit.com"
          formControlName="email"
          [required]="true"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="emailForm.invalid"
      >Send Reset Password Link</ion-button
    >
    <ion-button
      expand="block"
      type="cancel"
      color="medium"
      routerLink="/auth/login"
      routerDirection="root"
      class="ion-margin-top"
      >Cancel</ion-button
    >
  </form>
</ion-content>
