<ion-app>
  <!-- Menu -->
  <ion-menu contentId="ion-router-outlet" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span>{{ `Community Cup ${year}` }}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item-group>
          @for (page of publicPages; track $index) {
          <ion-menu-toggle>
            <ion-item
              lines="none"
              routerDirection="root"
              [routerLink]="'/public/' + page.url"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-label>Shobhan Bhatt</ion-label>
          </ion-item-divider>

          @for (page of privatePages; track $index) {
          <ion-menu-toggle>
            <ion-item
              lines="none"
              routerDirection="root"
              [routerLink]="'/private/' + page.url"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-label>Admin</ion-label>
          </ion-item-divider>
          @for (page of adminPages; track $index) {
          <ion-menu-toggle>
            <ion-item
              lines="none"
              routerDirection="root"
              [routerLink]="'/admin/' + page.url"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- Main content -->
  <div class="ion-page" id="ion-router-outlet">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> {{ currentPageTitle }}</ion-title>

        <!-- Signed in button -->
        <app-auth-state slot="end"></app-auth-state>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
      <app-toast></app-toast>
    </ion-content>
  </div>
</ion-app>
