<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if ( dataLoaded) {
  <div class="section-title">Click to Edit Names</div>
  <ion-list [inset]="true">
    @for (name of teamNames(); track $index) {
    <ion-item (click)="onClickRenameTeam(name)" class="in-margin-vertical">
      {{ name }}
    </ion-item>
    }
  </ion-list>
  <ion-note class="ion-margin-horizontal"
    >Include the numbers at the start of team names. This helps with auto
    assignment of new athletes. The numbers will be excluded from the reporting
    dashboards.</ion-note
  >
  } @else {
  <ion-list [inset]="true">
    @for (item of [0,1,2,3,4,5,6]; track $index) {
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        class="ion-margin-vertical"
        style="width: 180px; height: 20px"
      ></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
