<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-2xl font-bold">Sign up as a new user</h1>
  </div>
  <a routerLink="/auth/login" class="link link-primary text-xs"
    >Already have an account? Login</a
  >
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="loginForm">
        <fieldset class="fieldset gap-4">
          <app-provider-login loginSignup="sign up" />
          <div class="divider">OR</div>
          <input
            type="email"
            class="input w-full"
            placeholder="Email"
            formControlName="email"
          />
          <input
            type="password"
            class="input w-full"
            placeholder="Password"
            formControlName="password"
          />
          <button class="btn btn-primary" (click)="onClickSignUp()">
            <ng-icon name="ionMail" class="mr-auto"></ng-icon>
            <span class="mr-auto">Sign up with Email</span>
          </button>
          <!-- <div class="divider"></div> -->
          <button class="btn btn-neutral" routerLink="/home">
            <span>Cancel</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
