<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Signup</ion-card-title>
      <ion-card-subtitle
        >{{ config.affiliateName + ' Community Cup' }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-text
        >Sign up on the official Crossfit Open website first before signing up
        here.</ion-text
      >
      <br />
      <ion-note
        >This account is separate from the official Crossfit account. You'll
        need to create one here too, in order to access all the features of our
        Community Cup</ion-note
      >
    </ion-card-content>
  </ion-card>

  @if (showAssignAthleteForm() ) {

  <ion-button
    type="button"
    fill="clear"
    routerLink="/auth/login"
    class="ion-margin-horizontal"
    >Already have an account? Login!</ion-button
  >
  <form
    [formGroup]="assignAthleteForm"
    (ngSubmit)="onSubmitAssignAthleteForm()"
  >
    <ion-list [inset]="true">
      <ion-item (click)="openAthleteSelectModal()">
        <ion-label>Name</ion-label>
        <ion-label slot="end"
          >{{ selectedAthleteName() || 'Click to select'}}</ion-label
        >
      </ion-item>
      @if (athleteCrossfitIds().length > 1) {
      <ion-item>
        <ion-select
          label="CF ID"
          placeholder="Click"
          interface="popover"
          [value]="selectedCrossfitId()"
          (ionChange)="onAthleteCrossfitIdChange($event)"
        >
          @for (item of athleteCrossfitIds(); track $index) {
          <ion-select-option [value]="item">{{ item }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      } @else if (athleteCrossfitIds().length === 1) {
      <ion-item>
        <ion-label>CF ID</ion-label>
        <ion-label slot="end">{{ athleteCrossfitIds()[0] }}</ion-label>
      </ion-item>
      }
    </ion-list>

    <ion-button
      type="button"
      fill="clear"
      class="ion-margin-horizontal"
      (click)="openNameNotFoundModal()"
      >Don't see your name?</ion-button
    >

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin"
      [disabled]="!assignAthleteFormValid()"
      >That's me!</ion-button
    >

    <ion-button
      expand="block"
      type="button"
      color="medium"
      routerLink="/"
      routerDirection="root"
      class="ion-margin"
      >Cancel</ion-button
    >
  </form>

  } @else {

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Signing up as</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ selectedAthleteName() }}</ion-label>
      <ion-note>{{ 'CF ID: ' + selectedCrossfitId() }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{ selectedAffiliateName }}</ion-label>
      <ion-note>{{ selectedAffiliateId }}</ion-note>
    </ion-item>
    <ion-button fill="clear" (click)="onClickNotYou()">Not you?</ion-button>
  </ion-list>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="stacked"
          placeholder="froning@crossfit.com"
          formControlName="email"
          [required]="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Password"
          labelPlacement="stacked"
          placeholder="burpees4LYFE"
          formControlName="password"
          minlength="6"
          errorText="Min 6 chars"
          [required]="true"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin"
      >Sign Up</ion-button
    >

    <ion-button
      expand="block"
      type="button"
      color="medium"
      routerLink="/"
      routerDirection="root"
      class="ion-margin"
      >Cancel</ion-button
    >
  </form>
  }

  <ion-modal
    [isOpen]="isNameNotFoundModalOpen()"
    (didDismiss)="closeNameNotFoundModal()"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Don't See Your Name?</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeNameNotFoundModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title
              >First Time Participating in CrossFit Games?</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Register for the Open on the CrossFit website first</li>
              <li>
                Wait a little while before checking back here - let the data
                sync up (30 minutes should do it)
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title
              >Not Your First CF Open with CF Monkey Flag?</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>
                Maybe you already have created an account here? (Try the forgot
                password link on the login page)
              </li>
              <li>Maybe someone else accidentally used your name</li>
              <li>Either case, reach out to the admin team for assistance</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
