<app-pages>
  <div class="sticky top-16 z-5 bg-base-200 shadow-sm">
    <div class="grid gap-2 mx-4 grid-cols-5 md:grid-cols-3">
      <div class="col-span-full">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Event</legend>
          <select
            class="select w-full"
            (change)="onChangeFilter($event, 'event')"
          >
            @for (event of eventService.eventsList(); track $index) {
            <option
              [value]="event[0]"
              [selected]="
                !scoreFilter.filter().ordinalTotals &&
                scoreFilter.filter().ordinal == +event[0]
              "
            >
              {{ event[1] }}
            </option>
            }
            <option
              value="Total"
              [selected]="scoreFilter.filter().ordinalTotals"
            >
              Total
            </option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <app-score-legend></app-score-legend>
  <div class="list bg-base-100">
    @for (score of aggregatedTeamScores(); track $index ) {
    <li
      class="list-row mx-1 md:mx-4 items-center"
      [class.border]="
        userAuth.loggedIn() && userAuth.athlete()?.team_name === score.team_name
      "
      [class.bg-base-300]="
        userAuth.loggedIn() && userAuth.athlete()?.team_name === score.team_name
      "
    >
      <div class="list-col-grow">
        <div class="flex flex-col">
          <span>{{ score.team_name }}</span>
          <span
            class="text-xs opacity-60 font-semibold"
            >{{ `Rank ${$index + 1}` }}</span
          >
        </div>
      </div>
      <div
        class="flex flex-row gap-2 text-xs sm:gap-4 sm:text-md items-center justify-evenly"
      >
        <div class="flex flex-col items-center">
          <ng-icon name="heroHeart" />
          <span>{{ score.appreciation_score }}</span>
        </div>
        <div class="flex flex-col items-center">
          <ng-icon name="heroScale" />
          <span>{{ score.judge_score }}</span>
        </div>
        <div class="flex flex-col items-center">
          <ng-icon name="heroHandRaised" />
          <span>{{ score.attendance_score }}</span>
        </div>
        <div class="flex flex-col items-cente">
          <ng-icon name="ionMedalOutline" />
          <span>{{ score.top3_score }}</span>
        </div>
        <div class="flex flex-col items-center">
          <ng-icon name="ionBarbellOutline" />
          <span>{{ score.participation_score }}</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="">Other</span>
          <span>{{ score.side_challenge_score + score.spirit_score }}</span>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <span>Total</span>
        <span>{{ score.total_team_score }}</span>
      </div>
    </li>
    }
  </div>
</app-pages>
