<ion-header>
  <ion-toolbar>
    <ion-title>Edit {{ athlete!.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Team Assignment</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              label="Team Name"
              labelPlacement="stacked"
              formControlName="teamName"
              type="text"
              placeholder="Enter team name"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Athlete Role</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="athleteType">
            <ion-item>
              <ion-icon
                slot="start"
                name="ribbon-outline"
                color="primary"
              ></ion-icon>
              <ion-radio [value]="2">
                <ion-label>
                  <h2>Team Leader</h2>
                </ion-label>
              </ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                name="diamond-outline"
                color="warning"
              ></ion-icon>
              <ion-radio [value]="1">
                <ion-label>
                  <h2>Coach</h2>
                </ion-label>
              </ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                class="athlete-icon"
                name="body-outline"
              ></ion-icon>
              <ion-radio [value]="0">
                <ion-label>
                  <h2>Athlete</h2>
                </ion-label>
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="button-container">
      <ion-button expand="block" type="submit" [disabled]="!formValid()">
        Save Changes
      </ion-button>
      <ion-button
        expand="block"
        fill="outline"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </ion-button>
    </div>
  </form>
</ion-content>
