<div class="flex flex-col md:flex-row overflow-x-hidden min-h-screen">
  <!-- Image Container -->
  <div
    class="flex flex-col justify-center items-center flex-1 p-4 md:p-6 bg-black"
  >
    <h3 class="font-bold text-xl text-center text-white">We open together</h3>
    <img
      src="images/cf_open_2025_globe.JPG"
      alt="CF Open 2025 Globe image"
      class="p-4 w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg object-contain"
    />
  </div>

  <!-- Form Container -->
  <div
    class="hero bg-base-200 flex-1 min-h-screen flex flex-col md:justify-center p-4 md:p-6"
  >
    <div class="hero-content flex-col w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
