<ion-header>
  <ion-toolbar>
    <ion-title>About this app</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="intro-section">
    <h2>CF Games Community Cup</h2>
    <p>
      {{
        "This app tracks the team scores and related info for " +
          config.affiliateName +
          "'s community cup for the CrossFit Games."
      }}
    </p>
    <ion-note
      >The CrossFit leaderboard is not enough to win the Community Cup! Here are
      all the ways to receive points:</ion-note
    >
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Individual Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-note slot="start">1 pt</ion-note>
          <ion-label>Participate in the CrossFit open</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">3 pts</ion-note>
          <ion-label
            >Earn a top 3 rank in your category on the CrossFit
            leaderboard</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-note slot="start">2 pts</ion-note>
          <ion-label>Judge someone in the open</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">2 pts</ion-note>
          <ion-label>Meet your attendance criteria for the week</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start">10 pts</ion-note>
          <ion-label>Spirit of the open (individual)</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Team Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-note slot="start">15 pts</ion-note>
          <ion-label
            >Side challenges (e.g. obstacle course, trivia quiz)</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-note slot="start">25 pts</ion-note>
          <ion-label>Spirit of the open (team)</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Technical Features</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="sync-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Automatic Data Pull</h3>
            <p>
              Data is automatically pulled in from the CrossFit Games website
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Customizable Scoring</h3>
            <p>The scoring system can be modified for each box's needs</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Historical Data</h3>
            <p>
              If you have previous years' community cup / teams data, we can
              bring it in as well
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="footer-section ion-margin-top">
    <ion-button expand="block" (click)="closeModal()"> Got it! </ion-button>
  </div>
</ion-content>
