@if (authService.user()) {
<ion-button shape="round" fill="outline" (click)="openModal()">
  {{ authService.userNameInitials() }}
</ion-button>
<ion-modal
  [isOpen]="isModalOpen"
  (didDismiss)="isModalOpen = false"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  [initialBreakpoint]="0.75"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="onClickCancel()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-margin" [inset]="true">
        <ion-list-header>
          {{ authService.user()?.displayName }}
        </ion-list-header>
        <ion-item>
          <ion-label>
            {{ authService.user()?.email }}
          </ion-label>
          <ion-label slot="end">
            {{`CF ID: ${ authService.userCustomClaims()?.crossfit_id }`}}
          </ion-label>
        </ion-item>
        <ion-item>
          {{ authService.userCustomClaims()?.affiliate_name }}
        </ion-item>
        @if (authService.athlete()) {
        <ion-item>
          {{`Team: ${ authService.athlete()!.team_name  | teamName}`}}
        </ion-item>
        <ion-item>
          {{`Gender: ${ authService.athlete()?.gender }`}}
        </ion-item>
        <ion-item>
          {{`Age Category: ${ authService.athlete()?.age_category }`}}
        </ion-item>
        } @if (authService.userCustomClaims()?.admin) {
        <ion-item>Admin Bitch!</ion-item>
        }
        <ion-button fill="clear" (click)="onClickRefreshAthlete()"
          >Refresh athlete info</ion-button
        >
      </ion-list>
      <ion-list class="ion-margin" [inset]="true">
        @if (! authService.user()?.emailVerified) {
        <ion-list-header>Email not verified</ion-list-header>
        <ion-item>Check your spam folder</ion-item>
        <ion-button
          fill="outline"
          expand="block"
          (click)="onClickResendVerificationEmail()"
          >Refresh verification status</ion-button
        >
        <ion-button
          fill="outline"
          expand="block"
          (click)="onClickRefreshVerification()"
          >Resend verification email</ion-button
        >
        }
      </ion-list>
      <ion-button expand="block" class="ion-margin" (click)="onClickSignOut()"
        >Sign Out</ion-button
      >
    </ion-content>
  </ng-template>
</ion-modal>
} @else {
<ion-button shape="round" href="/auth/login">
  <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
</ion-button>
}
