<app-pages>
  <div class="sticky top-16 z-5 bg-base-200 shadow-sm">
    @if (showFilter()) {
    <div class="grid gap-2 mx-4 grid-cols-5 md:grid-cols-3">
      <div class="col-span-full">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Event</legend>
          <select
            class="select w-full"
            (change)="onChangeFilter($event, 'event')"
          >
            @for (event of eventsList; track event) {
            <option
              [value]="event[0]"
              [selected]="scoreService.scoreFilter().ordinal == +event[0]"
            >
              {{ event[1] }}
            </option>
            }
          </select>
        </fieldset>
      </div>

      <div class="">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Gender</legend>
          <select
            class="select w-full"
            (change)="onChangeFilter($event, 'gender')"
          >
            @for (gender of gendersList; track gender) {
            <option
              [value]="gender"
              [selected]="scoreService.scoreFilter().gender === gender"
            >
              {{ gender }}
            </option>
            }
          </select>
        </fieldset>
      </div>
      <div class="col-span-2 md:col-span-1">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Age Category</legend>
          <select
            class="select w-full"
            (change)="onChangeFilter($event, 'ageCategory')"
          >
            @for (ageCategory of ageCategoriesList; track ageCategory) {
            <option
              [value]="ageCategory"
              [selected]="
                scoreService.scoreFilter().ageCategory === ageCategory
              "
            >
              {{ ageCategory }}
            </option>
            }
          </select>
        </fieldset>
      </div>
      <div class="col-span-2 md:col-span-1">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Team</legend>
          <select
            class="select w-full"
            (change)="onChangeFilter($event, 'team')"
          >
            @for (team of teams(); track team) {
            <option
              [value]="team"
              [selected]="scoreService.scoreFilter().team === team"
            >
              {{ team }}
            </option>
            }
            <option
              value="All"
              [selected]="scoreService.scoreFilter().team === 'All'"
            >
              All
            </option>
          </select>
        </fieldset>
      </div>

      <div class="col-span-full">
        <button
          type="button"
          class="btn btn-outline w-full my-4"
          (click)="showFilter.set(false)"
        >
          Hide filters
        </button>
      </div>
    </div>
    } @else {
    <div class="mx-4">
      <button
        type="button"
        class="btn btn-outline w-full my-4"
        (click)="showFilter.set(true)"
      >
        Show filters
      </button>
    </div>
    }
  </div>
  <app-score-legend></app-score-legend>

  <div class="list bg-base-100">
    <div class="divider">
      {{ scoreFilterDisplay() }}
    </div>
    @for (score of showScores(); track $index ) {
    <li
      class="list-row md:mx-2 items-center"
      [class.border]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
      [class.border-accent]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
    >
      <div class="list-col-grow">
        <div class="flex flex-col">
          <span>{{ score.name }}</span>
          <span class="text-xs opacity-60 font-semibold">{{
            score.team_name
          }}</span>
        </div>
      </div>

      @if (score.appreciation_score > 0) {
      <div class="flex flex-col items-center">
        <ng-icon name="heroHeart" />
        <span>{{ score.appreciation_score }}</span>
      </div>
      } @if (score.judge_score) {
      <div class="flex flex-col items-center">
        <ng-icon name="heroScale" />
        <span>{{ score.judge_score }}</span>
      </div>
      } @if (score.attendance_score > 0) {
      <div class="flex flex-col items-center">
        <ng-icon name="heroHandRaised" />
        <span>{{ score.attendance_score }}</span>
      </div>
      } @if (score.top3_score > 0) {
      <div class="flex flex-col items-center">
        <ng-icon name="ionMedalOutline" />
        <span>{{ score.top3_score }}</span>
      </div>
      } @if (score.participation_score > 0) {
      <div class="flex flex-col items-center">
        <ng-icon name="ionBarbellOutline" />
        <span>{{ score.participation_score }}</span>
      </div>
      }
      <div class="flex flex-col items-center">
        <span>Total</span>
        <span>{{ score.total_individual_score }}</span>
      </div>
    </li>
    }
  </div>
</app-pages>
