<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="team-scores"></ion-back-button>
    </ion-buttons>
    <ion-title>Team Composition</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-segment
      [value]="scoreFilter.filter().gender"
      (ionChange)="onSelectionChanged($event, 'gender')"
    >
      <ion-segment-button value="M">
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value="F">
        <ion-label>F</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [value]="scoreFilter.filter().ageCategory"
      (ionChange)="onSelectionChanged($event, 'ageCategory')"
    >
      <ion-segment-button value="Open">
        <ion-label>Open</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Masters">
        <ion-label>Masters</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Masters 55+">
        <ion-label>Masters 55+</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-select
      label="Select Team"
      labelPlacement="floating"
      [value]="scoreFilter.filter().team"
      (ionChange)="onSelectionChanged($event, 'team')"
      interface="popover"
      class="ion-margin-horizontal ion-padding-horizontal team-selection-filter"
    >
      @for (team of teamsList(); track $index) {
      <ion-select-option [value]="team"
        >{{ team | teamName }}</ion-select-option
      >
      }
    </ion-select>
  </ion-toolbar>

  @if ( dataLoaded()) {
  <div class="section-title">
    {{ teamSectionTitle() }}
    <ion-chip>
      <ion-label>{{ filteredAthletes().length }}</ion-label>
    </ion-chip>
  </div>
  <ion-card>
    <ion-list [inset]="true">
      @if (filteredAthletes().length === 0) {
      <ion-item>
        <ion-label>NA</ion-label>
      </ion-item>
      } @else { @for (athlete of filteredAthletes(); track $index) {
      <ion-item>
        <ion-label>{{ athlete.name }}</ion-label>
        <ion-note>{{ athlete.judge ? "Judge" : "" }}</ion-note>
      </ion-item>
      } }
    </ion-list>
  </ion-card>
  } @else {
  <div class="section-title">
    <ion-skeleton-text
      [animated]="true"
      style="width: 120px; height: 18px"
    ></ion-skeleton-text>
  </div>
  <ion-list [inset]="true">
    @for (item of [1,2,3,4,5]; track $index) {
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80%; height: 18px; margin-bottom: 8px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
