<div class="drawer">
  <input type="checkbox" id="menu-drawer" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Nav bar -->
    <div class="navbar bg-base-300 shadow-sm">
      <!-- Hamburger menu -->
      <div class="flex-none">
        <label for="menu-drawer" class="btn btn-square btn-ghost drawer-button">
          <ng-icon name="heroBars3"></ng-icon>
        </label>
      </div>
      <!-- Title -->
      <div class="flex-1">
        <span class="text-xl">{{ titleService.pageTitle() }}</span>
      </div>
      <!-- Profile icon dropdown -->
      @if (userAuthService.loggedIn()) {
      <div class="flex-none dropdown dropdown-end">
        <div
          class="rounded-2xl bg-base-100 md:shadow-md px-4 py-2"
          tabindex="0"
          role="button"
        >
          <span class="text-md hidden md:inline">{{
            userAuthService.user()!.name
          }}</span>
          <span class="text-md md:hidden">{{
            userAuthService.userNameInitials()
          }}</span>
        </div>
        <ul
          class="dropdown-content flex flex-col gap-2 bg-base-200 rounded-box z-1 p-4 m-2 shadow-sm max-w-xs text-right"
          tabindex="0"
        >
          <li class="md:hidden">{{ userAuthService.user()!.name }}</li>
          <li>{{ userAuthService.user()!.email }}</li>
          <li>{{ userAuthService.user()!.affiliate }}</li>
          <li>{{ "CF ID: " + userAuthService.user()!.athlete_id }}</li>
          @if (!userAuthService.user()?.is_verified) {
          <li class="text-error">Email not verified!!</li>
          }
          <li>
            <button
              class="btn btn-primary w-full"
              type="button"
              (click)="onClickRefreshInfo()"
            >
              Refresh
            </button>
          </li>
          <li>
            <button
              class="btn btn-primary w-full"
              type="button"
              (click)="onClickSignOut()"
            >
              Log Out
            </button>
          </li>
        </ul>
      </div>
      } @else {
      <div class="flex flex-row gap-2 mr-2">
        <button class="btn btn-outline btn-primary" routerLink="/auth/login">
          Login
        </button>
        <button class="btn btn-primary" routerLink="/auth/signup">
          Sign Up
        </button>
      </div>
      }
    </div>

    <ng-content></ng-content>
  </div>

  <div class="drawer-side">
    <label
      for="menu-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <!-- Sidebar content -->
      <li><a routerLink="/home" routerLinkActive="menu-active">Home</a></li>
      <li>
        <a routerLink="/leaderboard" routerLinkActive="menu-active"
          >Leaderboard</a
        >
      </li>
      <li><a routerLink="/team" routerLinkActive="menu-active">Team</a></li>
      <li><a routerLink="/scores" routerLinkActive="menu-active">Scores</a></li>
      <!-- @if ( auth.userName() ) { -->
      <li>
        <a routerLink="/scheduling" routerLinkActive="menu-active"
          >Scheduling</a
        >
      </li>
      <!-- } -->
    </ul>
  </div>
</div>
