<div class="drawer h-16 bg-base-300">
  <input type="checkbox" id="menu-drawer" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Nav bar -->
    <div class="navbar sticky z-10 top-0 w-full bg-base-300 shadow-sm">
      <!-- Hamburger menu -->
      <div class="flex-none">
        <label for="menu-drawer" class="btn btn-square btn-ghost drawer-button">
          <ng-icon name="heroBars3"></ng-icon>
        </label>
      </div>
      <!-- Title -->
      <div class="flex-1">
        <span class="text-xl">{{ titleService.pageTitle() }}</span>
      </div>
      <!-- Profile icon dropdown -->
      <app-logged-in-button></app-logged-in-button>
    </div>

    <ng-content></ng-content>
  </div>

  <div class="drawer-side z-20">
    <label
      for="menu-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 min-h-full w-70 p-4">
      <!-- Sidebar content -->
      <li>
        <a routerLink="/public/home" routerLinkActive="menu-active">Home</a>
      </li>
      <li>
        <a routerLink="/public/leaderboard" routerLinkActive="menu-active"
          >Leaderboard</a
        >
      </li>
      <li>
        <a routerLink="/public/scores" routerLinkActive="menu-active">Scores</a>
      </li>
      <li>
        <a routerLink="/public/team" routerLinkActive="menu-active">Team</a>
      </li>
      @if (userAuth.loggedIn()) {
      <ul class="mt-2">
        {{
          userAuth.user()?.name
        }}
        <li>
          <a routerLink="/private/myscore" routerLinkActive="menu-active"
            >My Scores</a
          >
        </li>
        <li>
          <a routerLink="/private/appreciation" routerLinkActive="menu-active"
            >Appreciation</a
          >
        </li>
        <li>
          <a routerLink="/private/scheduling" routerLinkActive="menu-active"
            >Scheduling</a
          >
        </li>
      </ul>
      } @if (userAuth.loggedIn() && userAuth.user()?.is_superuser) {
      <ul class="mt-2">
        Admin bitch!
        <li>
          <a routerLink="/admin/athletes" routerLinkActive="menu-active"
            >Athletes</a
          >
        </li>
        <li>
          <a routerLink="/admin/teams" routerLinkActive="menu-active">Teams</a>
        </li>
        <li>
          <a routerLink="/admin/scheduling" routerLinkActive="menu-active"
            >Scheduling</a
          >
        </li>
        <li>
          <a routerLink="/admin/attendance" routerLinkActive="menu-active"
            >Attendance</a
          >
        </li>
        <li>
          <a routerLink="/admin/sidescores" routerLinkActive="menu-active"
            >Side Scores</a
          >
        </li>
      </ul>
      }
    </ul>
  </div>
</div>
