<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <app-auth-state slot="end"></app-auth-state>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [button]="true" type="button" href="/admin/users">
    <ion-card-header>
      <ion-card-title>Users</ion-card-title>
    </ion-card-header>
    <ion-card-content>Clone Shubham?</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/admin/teams">
    <ion-card-header>
      <ion-card-title>Teams</ion-card-title>
    </ion-card-header>
    <ion-card-content>Assign teams</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/admin/scheduling">
    <ion-card-header>
      <ion-card-title>Scheduling</ion-card-title>
    </ion-card-header>
    <ion-card-content>You are Shubham</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/admin/attendance">
    <ion-card-header>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>
    <ion-card-content>Reward the good bois and gals</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/admin/side-scores">
    <ion-card-header>
      <ion-card-title>Side Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>Other score stuff</ion-card-content>
  </ion-card>
</ion-content>
