<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <app-auth-state slot="end"></app-auth-state>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [button]="true" type="button">
    <ion-card-header>
      <ion-card-title>Athletes</ion-card-title>
    </ion-card-header>
    <ion-card-content>Make others admin?</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button">
    <ion-card-header>
      <ion-card-title>Teams</ion-card-title>
    </ion-card-header>
    <ion-card-content>Assign teams</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button">
    <ion-card-header>
      <ion-card-title>Scheduling</ion-card-title>
    </ion-card-header>
    <ion-card-content>You are Shubham</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button">
    <ion-card-header>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>
    <ion-card-content>Reward the good bois and gals</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button">
    <ion-card-header>
      <ion-card-title>Side Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>Other score stuff</ion-card-content>
  </ion-card>
</ion-content>
