<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Manage attendance for events.</ion-text>
    </ion-card-content>
  </ion-card>

  <div class="section-title">Select Event</div>
  <ion-list [inset]="true">
    @for (event of eventService.currentYearEvents(); track $index) {
    <ion-item (click)="openAttendanceModal(event)">
      <ion-label>{{ event.event }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
