ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

ion-list {
  padding: 0;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;

  h2 {
    font-weight: 600;
    margin-bottom: 4px;
  }

  p {
    color: var(--ion-color-medium);
  }
}
