<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" routerLink="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard" routerLink="/tabs/leaderboard">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team" routerLink="/tabs/team">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Team</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scores" routerLink="/tabs/scores">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scheduling" routerLink="/tabs/scheduling">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Scheduling</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>