<ion-tabs>
  <ion-tab-bar slot="bottom" id="main-tabs">
    <ion-tab-button tab="home" routerLink="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard" routerLink="leaderboard">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team-scores" routerLink="team-scores">
      <ion-icon name="people"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="individual-scores" routerLink="individual-scores">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button>

    @if (authService.verifiedUser() && authService.thisAffiliateUser()) {
    <ion-tab-button tab="me" routerLink="me">
      <ion-icon name="person"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
    } @if (authService.adminUser()) {
    <ion-tab-button tab="admin" routerLink="admin">
      <ion-icon name="lock-open"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>
