<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-segment
      [value]="filterAdmin()"
      (ionChange)="onSelectionChanged($event)"
    >
      <ion-segment-button [value]="true">
        <ion-label>Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="false">
        <ion-label>All</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [debounce]="500"
      (ionInput)="onSearchBarInput($event)"
    ></ion-searchbar>
  </ion-toolbar>

  @if (dataLoaded()) {
  <ion-list>
    @for (user of filteredUsers(); track user.uid) {
    <ion-item>
      <ion-label
        [color]="user.custom_claims?.crossfit_id === authService.userCustomClaims()?.crossfit_id ? 'tertiary' : ''"
      >
        <ion-label><strong> {{ user.display_name }}</strong></ion-label>
        <ion-note>{{ 'CF ID: ' + user.custom_claims?.crossfit_id }}</ion-note>
        <br />
        <ion-note>{{ user.email }}</ion-note>
      </ion-label>

      @if (user.custom_claims?.super_admin) {
      <ion-label slot="end">Super Admin</ion-label>
      } @if (user.custom_claims?.admin) {
      <ion-label slot="end">Admin</ion-label>
      } @if (!user.email_verified) {
      <ion-label slot="end" color="medium">Not Verified</ion-label>
      }
      <ion-button slot="end" fill="clear" (click)="presentActionSheet(user)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-item>

    }
  </ion-list>
  } @else {
  <ion-list>
    @for (item of [0,1,2,3,4]; track $index) {
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          [animated]="true"
          style="width: 140px; height: 16px; margin-bottom: 4px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80px; height: 12px; margin-bottom: 2px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          [animated]="true"
          style="width: 180px; height: 12px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-skeleton-text
        slot="end"
        [animated]="true"
        style="width: 60px; height: 16px"
      ></ion-skeleton-text>
      <ion-button slot="end" fill="clear">
        <ion-skeleton-text
          [animated]="true"
          style="width: 24px; height: 24px; border-radius: 12px"
        ></ion-skeleton-text>
      </ion-button>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
