<app-pages>
  <app-score-filter [showTop3Filter]="true"></app-score-filter>
  <div class="list bg-base-100">
    @if (scoreService.filteredScoresRXTopN().length > 0) {
    <div class="divider">
      {{ `RX - ${scoreFilter.filter().gender} - ${scoreFilter.filter().ageCategory}`}}
    </div>

    @for (score of scoreService.filteredScoresRXTopN(); track $index ) {
    <li
      class="list-row border mx-2 md:gap-8"
      [class.border]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
      [class.border-accent]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
    >
      <div class="">{{ score.affiliate_rank }}</div>
      <div class="list-col-grow">{{ score.name }}</div>
      <div class="">{{ score.score_display }}</div>
      @if ( score.tiebreak_ms) {
      <div class="md:ml-10 text-xs text-right">
        <span>Tiebreak</span>
        <div class="">{{ score.tiebreak_ms }}</div>
      </div>
      }
    </li>

    } } @if (scoreService.filteredScoresScaledTopN().length > 0) {
    <div class="divider">
      {{ `Scaled - ${scoreFilter.filter().gender} - ${scoreFilter.filter().ageCategory}`}}
    </div>
    @for (score of scoreService.filteredScoresScaledTopN(); track $index ) {
    <li
      class="list-row mx-2 md:gap-8"
      [class.border]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
      [class.border-accent]="
        userAuth.loggedIn() &&
        userAuth.athlete()?.competitor_id === score.competitor_id
      "
    >
      <div class="">{{ score.affiliate_rank }}</div>
      <div class="list-col-grow">{{ score.name }}</div>
      <div class="">{{ score.score_display }}</div>
      @if ( score.tiebreak_ms) {
      <div class="md:ml-10 text-xs text-right">
        <span>Tiebreak</span>
        <div class="">{{ score.tiebreak_ms }}</div>
      </div>
      }
    </li>
    } }
  </div>
</app-pages>
