<div class="sticky top-16 z-5 bg-base-200 shadow-sm">
  @if (showFilter()) {
  <div [className]="gridClassList()">
    <div class="col-span-full">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Event</legend>
        <select class="select w-full" (change)="onChangeEvent($event)">
          @for (event of scoreFilter.eventsList; track event) {
          <option
            [value]="event[0]"
            [selected]="scoreFilter.filter().ordinal == +event[0]"
          >
            {{ event[1] }}
          </option>
          }
        </select>
      </fieldset>
    </div>

    <div class="">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Gender</legend>
        <select class="select w-full" (change)="onChangeGender($event)">
          @for (gender of scoreFilter.gendersList; track gender) {
          <option
            [value]="gender"
            [selected]="scoreFilter.filter().gender === gender"
          >
            {{ gender }}
          </option>
          }
        </select>
      </fieldset>
    </div>
    <div class="col-span-2 md:col-span-1">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Age Category</legend>
        <select class="select w-full" (change)="onChangeAgeCategory($event)">
          @for (ageCategory of scoreFilter.ageCategoriesList; track ageCategory)
          {
          <option
            [value]="ageCategory"
            [selected]="scoreFilter.filter().ageCategory === ageCategory"
          >
            {{ ageCategory }}
          </option>
          }
        </select>
      </fieldset>
    </div>
    @if (showTop3Filter()) {
    <div class="flex flex-col col-span-2 md:col-span-1">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Show</legend>
        <select class="select w-full" (change)="onChangeTop3($event)">
          <option value="1" [selected]="scoreFilter.filter().top3">
            Top 3 only
          </option>
          <option value="0" [selected]="!scoreFilter.filter().top3">All</option>
        </select>
      </fieldset>
    </div>
    }
    <div class="col-span-full">
      <button
        type="button"
        class="btn btn-outline w-full"
        (click)="onClickHideFilter()"
      >
        Hide filters
      </button>
    </div>
  </div>
  } @else {
  <div class="mx-4">
    <button
      type="button"
      class="btn btn-outline w-full"
      (click)="onClickShowFilter()"
    >
      Show filters
    </button>
  </div>
  }
</div>
