<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-2xl font-bold">Log in as an existing user</h1>
  </div>
  <a routerLink="/auth/signup" class="link link-primary text-sm"
    >Don't have an account? Sign up!</a
  >
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
        <fieldset class="fieldset gap-4">
          <!-- <app-provider-login loginSignup="login" />
          <div class="divider">OR</div> -->
          <input
            type="email"
            class="input w-full"
            placeholder="Email"
            autocomplete="email"
            formControlName="email"
          />
          <input
            type="password"
            class="input w-full"
            placeholder="Password"
            autocomplete="current-password"
            formControlName="password"
          />
          <a class="link link-primary" routerLink="/auth/forgot-password"
            >Forgot Password?</a
          >
          <button type="submit" class="btn btn-primary">
            <ng-icon name="ionMail" class="mr-auto"></ng-icon>
            <span class="mr-auto">Login with Email</span>
          </button>
          <!-- <div class="divider"></div> -->
          <button type="cancel" class="btn btn-neutral" routerLink="/home">
            <span>Cancel</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
