<app-auth-wrapper>
  <div class="text-center">
    @if (newUser) {
    <h1 class="text-2xl font-bold">Sign up as a new user</h1>

    } @else {
    <h1 class="text-2xl font-bold">Log in to as an existing user</h1>
    }
  </div>
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="loginForm">
        <fieldset class="fieldset gap-4">
          <input
            type="email"
            class="input w-full"
            placeholder="Email"
            formControlName="email"
          />
          <input
            type="password"
            class="input w-full"
            placeholder="Password"
            formControlName="password"
          />
          <button class="btn bg-black text-white">
            <ng-icon name="ionMail" class="mr-auto"></ng-icon>
            <span class="mr-auto">Sign in with Email</span>
          </button>
          <div class="divider">OR</div>
          <button class="btn bg-white text-black">
            <img src="images/auth/google.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Google</span>
          </button>
          <button class="btn bg-[#410093] text-white">
            <ng-icon name="ionLogoYahoo" class="mr-auto"></ng-icon>
            <span class="mr-auto">Sign in with Yahoo</span>
          </button>
          <button class="btn bg-gray-200 text-black">
            <img src="images/auth/microsoft.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Microsoft</span>
          </button>
          <button class="btn bg-[#1877F2] text-white">
            <img src="images/auth/facebook.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Facebook</span>
          </button>
          <div class="divider"></div>
          <button class="btn btn-neutral" (click)="onClickCancel()">
            <span>Cancel</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
