<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-2xl font-bold">Log in as an existing user</h1>
  </div>
  <a routerLink="/auth/signup" class="link link-primary text-sm"
    >Don't have an account? Sign up!</a
  >
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="loginForm">
        <fieldset class="fieldset gap-4">
          <app-provider-login loginSignup="login" />
          <div class="divider">OR</div>
          <input
            type="email"
            class="input w-full"
            placeholder="Email"
            formControlName="email"
          />
          <input
            type="password"
            class="input w-full"
            placeholder="Password"
            formControlName="password"
          />
          <a href="" class="link link-primary">Forgot Password?</a>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onClickLogin()"
          >
            <ng-icon name="ionMail" class="mr-auto"></ng-icon>
            <span class="mr-auto">Login with Email</span>
          </button>
          <!-- <div class="divider"></div> -->
          <button type="button" class="btn btn-neutral" routerLink="/home">
            <span>Cancel</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
