<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-2xl font-bold">First time athlete sign up</h1>
  </div>
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="form">
        <fieldset class="fieldset gap-4">
          <legend class="fieldset-legend">
            Enter your name as per CF Games website/app
          </legend>
          <input
            type="text"
            class="input validator w-full"
            placeholder="Name"
            formControlName="name"
          />
          <legend class="fieldset-legend">
            Enter your CF Games competitor ID
          </legend>
          <input
            type="number"
            class="input validator w-full"
            placeholder="12345"
            formControlName="athleteId"
          />
          <div class="divider"></div>

          <button class="btn bg-black text-white">
            <ng-icon name="ionMail" class="mr-auto"></ng-icon>
            <span class="mr-auto">Sign in with Email</span>
          </button>
          <button class="btn bg-white text-black">
            <img src="images/auth/google.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Google</span>
          </button>
          <button class="btn bg-[#410093] text-white">
            <ng-icon name="ionLogoYahoo" class="mr-auto"></ng-icon>
            <span class="mr-auto">Sign in with Yahoo</span>
          </button>
          <button class="btn bg-gray-200 text-black">
            <img src="images/auth/microsoft.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Microsoft</span>
          </button>
          <button class="btn bg-[#1877F2] text-white">
            <img src="images/auth/facebook.svg" class="mr-auto h-4" alt="" />
            <span class="mr-auto">Sign in with Facebook</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
