<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-title">Current Year</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" href="/me/my-team">
      <ion-icon slot="start" name="people-circle-outline"></ion-icon>
      <ion-label>My Team</ion-label>
    </ion-item>
    <ion-item [button]="true" type="button" href="/me/appreciation">
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>Appreciation</ion-label>
    </ion-item>
    <ion-item [button]="true" type="button" href="/me/schedule">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-item>
  </ion-list>

  <div class="section-title">CF History</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" href="/me/my-scores">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>My Scores</ion-label>
    </ion-item>
  </ion-list>

  <div class="section-title">User</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" href="/me/my-scores">
      <ion-icon slot="start" name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
