<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
    <app-theme slot="end"></app-theme>
    <app-auth-state slot="end"></app-auth-state>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [button]="true" type="button" href="/me/my-scores">
    <ion-card-header>
      <ion-card-title>My Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>See how I'm doing</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/me/appreciation">
    <ion-card-header>
      <ion-card-title>Appreciation</ion-card-title>
    </ion-card-header>
    <ion-card-content>Show some love</ion-card-content>
  </ion-card>
  <ion-card [button]="true" type="button" href="/me/schedule">
    <ion-card-header>
      <ion-card-title>Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>Don't call Shubham</ion-card-content>
  </ion-card>
</ion-content>
