<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (affiliateConfig.useScheduling()) {
  <div class="section-title">Scheduling</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" routerLink="/me/schedule">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Athlete Scheduling Preferences</ion-label>
    </ion-item>
    @if (isJudge) {
    <ion-item [button]="true" type="button" routerLink="/me/judge-availability">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>Judging Availability</ion-label>
    </ion-item>
    }
    <ion-item [button]="true" type="button" routerLink="/me/my-heats">
      <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
      <ion-label>My Heats!</ion-label>
    </ion-item>
  </ion-list>
  } @if (affiliateConfig.useAppreciation()) {
  <div class="section-title">Appreciation</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" routerLink="/me/appreciation">
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>Appreciation Voting</ion-label>
    </ion-item>
    <ion-item [button]="true" type="button" routerLink="/me/appreciation-text">
      <ion-icon slot="start" name="heart-circle-outline"></ion-icon>
      <ion-label>My Appreciation Text</ion-label>
    </ion-item>
  </ion-list>
  }

  <div class="section-title">CF History</div>
  <ion-list [inset]="true">
    <ion-item [button]="true" type="button" routerLink="/me/my-scores">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>My Scores</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
