<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-xl mt-2 font-bold">Select your Crossfit ID to proceed</h1>
  </div>
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="fieldset gap-4">
          <!-- Gym -->
          <legend class="fieldset-legend">Select your gym</legend>
          <select class="select" name="gym" formControlName="gym">
            <option disabled selected>Select Gym</option>
            @for (gym of signupFormService.gyms(); track gym) {
            <option [value]="gym">{{ gym }}</option>
            }
          </select>
          <!-- Name -->
          <legend class="fieldset-legend">
            Select your name as per CF Games website/app
          </legend>
          <select class="select" name="name" formControlName="name">
            <option disabled selected>Select Name</option>
            @for (name of signupFormService.names(); track name + '') {
            <option [value]="name">{{ name }}</option>
            }
          </select>
          <!-- Athlete ID -->
          <legend class="fieldset-legend">Select your CF Competitor ID</legend>
          <select class="select" name="athleteId" formControlName="athleteId">
            <option disabled selected>Select Competitor ID</option>
            @for (athleteId of signupFormService.athleteIds(); track athleteId +
            '') {
            <option [value]="athleteId">{{ athleteId }}</option>
            }
          </select>
          <p class="validator-hint">
            @if (isFormInvalid()) {Select Gym, Name & Competitor ID} @else {
            &nbsp;}
          </p>
          <button class="btn btn-primary" type="button" (click)="onSubmit()">
            That's me
          </button>
          <button
            class="btn btn-neutral"
            type="button"
            (click)="onClickCancel()"
          >
            Cancel
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
