<div class="dock bg-base-300">
  <button routerLink="/public/home" routerLinkActive="dock-active">
    <ng-icon name="heroHome" />
    <span class="dock-label">Home</span>
  </button>
  <button routerLink="/public/leaderboard" routerLinkActive="dock-active">
    <ng-icon name="heroTrophy" />
    <span class="dock-label">Leaderboard</span>
  </button>
  <button routerLink="/public/team" routerLinkActive="dock-active">
    <ng-icon name="heroUserGroup" />
    <span class="dock-label">Teams</span>
  </button>
  <button routerLink="/public/scores" routerLinkActive="dock-active">
    <ng-icon name="heroChartBar" />
    <span class="dock-label">Scores</span>
  </button>
  @if ( userAuth.loggedIn() ) {
  <button routerLink="/private/scheduling" routerLinkActive="dock-active">
    <ng-icon name="heroCalendarDays" />
    <span class="dock-label">Scheduling</span>
  </button>
  }
</div>
