<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Appreciation Form</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (dataLoaded()) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>Appreciation Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text
        >Users can only add or edit their appreciation vote if the form is
        enabled.</ion-text
      >
    </ion-card-content>
  </ion-card>

  <div class="section-title">Enable / Disable Forms</div>
  <ion-list [inset]="true">
    @for (item of eventStatus(); track $index) {
    <ion-item>
      <ion-toggle
        [checked]="item.isEnabled"
        (ionChange)="handleEventToggle(item.event, $event)"
        >{{ item.name }}</ion-toggle
      >
    </ion-item>
    }
  </ion-list>

  } @else {
  <ion-list [inset]="true">
    @for (item of [0,1,2]; track $index) {
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        class="ion-margin-vertical"
        style="width: 180px; height: 20px"
      ></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
