<ion-header>
  <ion-toolbar>
    <ion-title>Team Scores</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card [button]="true" type="button" routerLink="/team-scores/team-info">
    <ion-card-header>
      <ion-card-title>{{ config.year + ' Team Composition' }}</ion-card-title>
      <ion-card-subtitle>See who's on each team</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Team Scores</ion-card-title>
      <ion-card-subtitle>Compare team performance by event</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <app-event-list link="/team-scores" [showTotals]="true"></app-event-list>
</ion-content>
