ion-segment {
  margin-bottom: 0;
}

.button-container {
  margin-bottom: 16px;

  ion-button {
    margin: 0;
  }
}

ion-list {
  ion-item {
    --padding-start: 0;
    
    ion-checkbox {
      width: 100%;
      padding: 8px 0;
    }
  }
}

.ion-text-center {
  text-align: center;
  padding: 32px 16px;
}
