<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Leaderboard </ion-card-title>
    </ion-card-header>
  </ion-card>
  <app-event-list link="/leaderboard"></app-event-list>
</ion-content>
