<app-auth-wrapper>
  <div class="text-center">
    <h1 class="text-2xl font-bold">Reset password</h1>
  </div>
  <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="fieldset gap-4">
          <input
            type="password"
            class="input w-full"
            placeholder="Password"
            autocomplete="new-password"
            formControlName="password1"
          />
          <input
            type="password"
            class="input w-full"
            placeholder="Re-enter Password"
            autocomplete="new-password"
            formControlName="password2"
          />
          @if (!passwordsMatch) {
          <span class="text-xs">Passwords do not match</span>
          } @else {
          <span class="text-xs">&nbsp;</span>
          }
          <button type="submit" class="btn btn-primary">
            <span class="">Reset password</span>
          </button>
          <button type="reset" class="btn btn-neutral" routerLink="/home">
            <span>Cancel</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</app-auth-wrapper>
