<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Email</title>
  </head>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
  <body>
    <p>{{ "Yo " + user.name }}</p>
    <br />
    <a href="{{ link }}" target="_blank"
      >Click here to reset your password to CF Games Website</a
    >
    <br />
    <p>If you didn't request this, someone's out to no-rep you!</p>
    <br />
    <p>Thanks, Shubham AI 3.0</p>
  </body>
</html>
