<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification Email</title>
  </head>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
  <body>
    <p>{{ "Yo " + user.name }}</p>
    <br />
    <a href="{{ link }}" target="_blank"
      >Click here to verify your email for CF Games</a
    >
    <br />
    <p>{{ 'Affiliate: ' + user.affiliate }}</p>
    <p>{{ 'CF Athlete ID: ' + user.athlete_id | string }}</p>
    <br />
    <p>Thanks, Shubham AI 3.0</p>
    <br />
    <p>If you did not try to register, then ignore this message.</p>
  </body>
</html>
