<div class="bg-base-200 pb-4">
  <fieldset class="mx-4 fieldset rounded-box border">
    <legend class="fieldset-legend ml-6">Legend</legend>
    <div class="flex flex-row justify-evenly items-center gap-2">
      <div class="flex flex-col items-center text-center">
        <ng-icon name="heroHeart" />
        <span>Appreciation Score</span>
      </div>
      <div class="flex flex-col items-center text-center">
        <ng-icon name="heroScale" />
        <span>Judge Score</span>
      </div>
      <div class="flex flex-col items-center text-center">
        <ng-icon name="heroHandRaised" />
        <span>Attendance Score</span>
      </div>
      <div class="flex flex-col items-center text-center">
        <ng-icon name="ionMedalOutline" />
        <span>Top 3 Score</span>
      </div>
      <div class="flex flex-col items-center text-center">
        <ng-icon name="ionBarbellOutline" />
        <span>Participation Score</span>
      </div>
    </div>
  </fieldset>
</div>
