<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/me"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ authService.user()?.displayName + ' Scores' }}</ion-title>
    <app-theme slot="end"></app-theme>
    <app-auth-state slot="end"></app-auth-state>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if ( dataLoaded) { @for (item of groupedScores(); track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >{{ item.scores[0].team_name | teamName }}</ion-card-subtitle
      >
      <ion-card-title>{{ item.year }}</ion-card-title>
    </ion-card-header>
    <ion-list>
      @for (score of item.scores; track $index) {
      <ion-item class="leaderboard-row">
        <div class="" slot="start">
          <span>{{ eventService.getEventName(score.year, score.ordinal)}}</span>
        </div>
        <ion-button
          [href]=" eventService.baseURL + '/' + score.year + '/' + score.ordinal"
          fill="clear"
          target="_blank"
          slot="start"
          class="ion-margin-end"
        >
          <ion-icon name="open-outline"></ion-icon>
        </ion-button>
        <ion-label>
          <ion-label class="leaderboard-name">
            {{ score.affiliate_scaled }}<br />
          </ion-label>
          <ion-note>{{ 'Rank ' + score.affiliate_rank }}</ion-note>
        </ion-label>
        <div slot="end">
          <ion-label class="ion-text-end">{{ score.score_display }}</ion-label>
          @if (score.tiebreak_ms) {
          <ion-note>{{ 'Tiebreak ' + score.tiebreak_ms }}</ion-note>
          }
        </div>
      </ion-item>
      }
    </ion-list>
  </ion-card>
  } } @else { @for (item of [0,1,2]; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-skeleton-text
        [animated]="true"
        style="width: 100px; height: 15px"
      ></ion-skeleton-text>
      <ion-skeleton-text
        [animated]="true"
        style="width: 80px; height: 30px"
      ></ion-skeleton-text>
    </ion-card-header>
    <ion-list>
      @for (listItem of [1,2,3]; track $index) {
      <ion-item>
        <div class="" slot="start">
          <ion-skeleton-text
            [animated]="true"
            style="width: 20px; height: 20px"
          ></ion-skeleton-text>
        </div>
        <ion-label>
          <ion-skeleton-text
            [animated]="true"
            style="width: 150px; height: 40px"
          ></ion-skeleton-text>
        </ion-label>
        <div slot="end">
          <ion-skeleton-text
            [animated]="true"
            style="width: 80px; height: 30px"
          ></ion-skeleton-text>
        </div> </ion-item
      >}
    </ion-list>
  </ion-card>
  } }
</ion-content>
