<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-searchbar
      [debounce]="500"
      (ionInput)="onSearchBarInput($event)"
    ></ion-searchbar>
  </ion-toolbar>

  @if (!loading) {
  <ion-list>
    @for (athlete of filteredAthleteData(); track athlete.crossfit_id) {
    <ion-item>
      @if (athlete.team_role === 1) {
      <ion-icon slot="start" name="diamond-outline"></ion-icon>
      } @else if (athlete.team_role === 2) {
      <ion-icon slot="start" name="ribbon-outline"></ion-icon>
      } @else {
      <ion-icon
        slot="start"
        class="athlete-icon"
        name="body-outline"
      ></ion-icon>
      }
      <ion-label> {{ athlete.name }} </ion-label>
      <ion-label slot="end"> {{ athlete.team_name }} </ion-label>
      <ion-button slot="end" fill="clear" (click)="onClickAthlete(athlete)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
  } @else {
  <ion-list>
    @for (item of [0,1,2,3,4,5,6]; track $index) {
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 150px; height: 20px"
      ></ion-skeleton-text>
      <ion-skeleton-text
        slot="end"
        [animated]="true"
        style="width: 120px; height: 20px"
      ></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
