<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/me/appreciation"></ion-back-button>
    </ion-buttons>
    <ion-title>Appreciation Form</ion-title>
    <app-toolbar-buttons slot="end"></app-toolbar-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if ( dataLoaded()) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        eventService.getWeekendEventName(ordinal, year)
      }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text
        >Please cast two votes. One for teammates, and one for
        non-teammates</ion-text
      >
      <br />
      <ion-text
        >The comments will be seen by the vote recepient anonymously.</ion-text
      >
    </ion-card-content>
  </ion-card>

  <form [formGroup]="appreciationForm">
    <div class="section-title">Team Vote</div>
    <ion-list [inset]="true">
      <ion-item (click)="onClickTeamVoteName()">
        <ion-label>
          {{ selectedTeamVoteName() }}
        </ion-label>
        <ion-note slot="end">{{
          appreciation() ? "Click to Change" : "Click to Select"
        }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-textarea
          type="text"
          label="Comment"
          labelPlacement="floating"
          inputmode="text"
          [autoGrow]="true"
          formControlName="teamVoteText"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>

    <div class="section-title">Non-Team Vote</div>
    <ion-list [inset]="true">
      <ion-item (click)="onClickNonTeamVoteName()">
        <ion-label>
          {{ selectedNonTeamVoteName() }}
        </ion-label>
        <ion-note slot="end">{{
          appreciation() ? "Click to Change" : "Click to Select"
        }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-textarea
          type="text"
          label="Comment"
          labelPlacement="floating"
          inputmode="text"
          [autoGrow]="true"
          formControlName="nonTeamVoteText"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  <ion-button
    expand="block"
    class="ion-margin"
    type="button"
    (click)="onClickSubmit()"
    [disabled]="!isFormValid()"
    >Submit</ion-button
  >
  <ion-button
    expand="block"
    fill="outline"
    class="ion-margin"
    type="button"
    routerLink="/me/appreciation"
    >Cancel</ion-button
  >
  }@else {
  <!-- Loading skeleton -->
  <ion-card>
    <ion-card-header>
      <ion-skeleton-text
        [animated]="true"
        style="width: 120px; height: 20px"
      ></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text
        [animated]="true"
        style="width: 200px; height: 15px"
      ></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <div class="section-title">
    <ion-skeleton-text
      [animated]="true"
      style="width: 80px; height: 16px"
    ></ion-skeleton-text>
  </div>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          [animated]="true"
          style="width: 140px; height: 16px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end">
        <ion-skeleton-text
          [animated]="true"
          style="width: 90px; height: 12px"
        ></ion-skeleton-text>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 200px; height: 40px; border-radius: 4px"
      ></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <div class="section-title">
    <ion-skeleton-text
      [animated]="true"
      style="width: 100px; height: 16px"
    ></ion-skeleton-text>
  </div>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <ion-skeleton-text
          [animated]="true"
          style="width: 140px; height: 16px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-note slot="end">
        <ion-skeleton-text
          [animated]="true"
          style="width: 90px; height: 12px"
        ></ion-skeleton-text>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-skeleton-text
        [animated]="true"
        style="width: 200px; height: 40px; border-radius: 4px"
      ></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <ion-skeleton-text
    [animated]="true"
    style="width: 100%; height: 44px; border-radius: 4px; margin: 16px 0"
  ></ion-skeleton-text>
  <ion-skeleton-text
    [animated]="true"
    style="width: 100%; height: 44px; border-radius: 4px; margin: 16px 0"
  ></ion-skeleton-text>
  }
</ion-content>
